/*propiedades de index.html*/
#body-index {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    text-align: center;
    font-family: Breaking Bad;
    color: white;
}

#logo {
    width: 200px;
    height: 200px;
}

#portada {
    width: 700px;
    height: 300px;
    border: 10px solid brown;
    border-style: outset;
    border-radius: 22px;
}

/*propiedades de Formulario.html*/
#body-form {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    color: white;
}

#titulo-formulario {
    text-align: center;
}

form {
    width: 350px;
    height: auto;
    background-color: #ffae0067;
    border-radius: 22px;
    margin: auto;
    padding: 2rem;
    justify-content: center;
}

.block-display {
    display: block;
}

.block-display label {
    display: inline-block;
    width: 5rem;
    margin: 0.5rem 0;
}

#seleccionar-sexo {
    display: inline;
}

.boton-amarillo {
    background-color: #d79b02;
    color: white;
    border-radius: 5px;
    border-color: #c68e00;
    width: 100px;
    display: inline-block;
    margin: 1rem;
    margin-left: 0;
}

input[type=date] {
    margin-left: 0.5rem;
}

input[type=radio] {
    margin-left: 0;
}

textarea {
    width: 90%;
    margin: auto;
    margin-left: 0;
    resize: none;
}

/*propiedades de Tabla.html*/
#body-table {
    background-color: #0c3e11;
    text-align: center;
    color: #2a2c25;
}

table {
    background-color: #2a2c25;
    margin: auto;
    border: 5px;
    border-spacing: 5px;
    margin: 1rem auto;
}

td {
    align-content: center;
    width: 75px;
    height: 75px;
}

.bright-green {
    background-color: #b6db17;
}

.grey-green {
    background-color: #bdc3a1;
}

.dark-green {
    background-color: #627127;
}

.lime-green {
    background-color: #89a518;
}

.light-green {
    background-color: #d4e976;
}

.white-green {
    background-color: #eef6c7;
}

.military-green {
    background-color: #818d4d;
}

.yellow-green {
    background-color: #c9e44b;
}

.lilac {
    background-color: #aa8ecc;
}

.pistachio-green {
    background-color: #c1c729;
}

#HS-cell {
    background-image: url(../img/Tabla\ Periódica/hankschrader.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#WW-cropped-img {
    width: 75px;
    height: auto;
    clip-path: inset(0px 3px 0px 0px);
}

#gun-cropped-img {
    clip-path: inset(0px 0px 0px 5px);
}

.table-text {
    margin: 0px;
}

.table-img {
    width: 75px;
    height: 75px;
    align-items: center;
}

/*propiedades compartidas*/
h1 {
    font-size: 40px;
}

p {
    font-size: 10px;
}

.standard-font {
    font-family: Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: Breaking Bad;
    src: url(../fonts/Breaking\ Bad.ttf);
}